*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

.container{
    /* padding: 0 2rem; */
    max-width: 100vw;
}

.flexed{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

#header{
    padding: 2rem;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    background-color: #eeeeee;
}

.nav-link{
    padding: 2rem;
    color: #000;
}

.main{
    padding: 0 15%;
    padding-top: 7rem;
    background-color: #eeeeee;

}

#email-sect{
    text-align: center;
}

#email-sect h2{
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    
}

form input{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    padding: 5px;
}

#email{
    max-width: 275px;
    width: 100%;
    background-color: white;
    cursor: text;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-radius: 2px;
}

.btn{
    max-width: 150px;
    width: 100%;
    border: 0;
    background-color: #f1c40f;
    font-size: 1em;
    font-weight: 900;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

#features{
    margin-top: 5rem;
}

#features i{
    color: darkorange;
    font-weight: 900;
    font-size: 3em;
    margin-right: 5%;
}

.item1{
    width: 15%;
}

.item2{
    width: 85%;
}

.item2 h3{
    font-size: 1.5em;
}

.item2 p{
    font-size: 1em;
}

.feat{
    margin-bottom: 4rem;
}

#howitworks iframe{
    display: block;
    margin: auto;
    width: 450px; 
    height: 315px
}

#pricing{
    margin-top: 5rem;
}

.price-item{
    text-align: center;;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: 280px;
    height: 300px;
}

.price-item h4{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.price-item .price{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1rem;
}

.price-item p{
    font-size: 1em;
    line-height: 30px;
    
}

.btn2{
    font: 400 13.3333px Arial;
    max-width: 100px;
    width: 100%;
    border: 0;
    background-color: #f1c40f;
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    margin-top: 0.5rem;
    padding: 10px;
}

footer{
    display: flex;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 0;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-color: #ddd;
}

footer nav a{
    color: #000;
}

footer p{
    color: #444444;

}

@media only screen and (max-width: 680px){
    body{
        font-size: 70%;
    }

    .main{
        padding: 0 3%;
        padding-top: 10rem;
        
    }

    #howitworks iframe{
        display: block;
        margin: auto;
        width: 250px; 
        height: 200px
    }

    #header{
        padding: 1rem;
    }  
    
    .nav-link{
        padding-right: 0.5rem;
    }
}

@media only screen and (max-width: 768px){
    body{
        font-size: 90%;
    }
    .flexed{
        flex-direction: column;
        flex-wrap: wrap;
    }

  
}

